@model IEnumerable<IndexGymClassViewModel>

@{
    ViewData["Title"] = " Your Booked Classes";
}

<h1>Your Booked Classes</h1>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Duration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <partial name="_GymClassesPartial" model="@item" />
        }
    </tbody>
</table>